{{!-- cut the comments div from the single-post view and paste them here --}}
{{!-- use the keyword this to refer to the parent object
    data that's passed to a template file is technically always part of this, but when dealing with objects
    we can simply acces the object properties directly --}}
<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{!-- to use the helpers in the templates add them to the handlbars.js expressions
                replace created_at with format_dates created_at --}}
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>