<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav id="nav">
        <ul id="navbar">
          <li>
            <p><a class="button" href="/">Home</a></p>
          </li>
          {{#if loggedIn}}
          <li>
            <p><a class="button" href="/dashboard">Dashboard</a></p>
          </li>
          <li>
            <p><a class="button" id="logout-btn">Logout</a></p>
          </li>
          {{else}}
          <li>
            <p><a class="button" href="/login">Login</a></p>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>